.container {
	width: 100%;
	text-align: center;
}

.logo {
	margin-top:8em;
	margin-bottom: 6em;
}

.logo img {
	border-bottom-style: solid;
	border-bottom-color: #ADADAD;
	border-width: 1px;
}

.search-bar {
	max-width: 484px;
	background-color: #FFF;
	border: 1px solid #D9D9D9;
	border-top-color: #C0C0C0;
	height: 28px;
	vertical-align: top;
	padding: 0;
	margin: auto;
	box-shadow: 0 2px 16px #dfdfdf;
}
.focused{
	border: 1px solid #4D90FE !important;
}
.error{
	border: 1px solid #ff5b5b;
}

.search-bar:hover {
	border: 1px solid #B9B9B9;
	border-top-color: #A0A0A0;
}

.search-bar-inner {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	padding: 5px 5px 0 9px;
	position:relative;
}

.search-bar-inner .icon{
  position: absolute;
  left:10px;
  z-index: 1;
  color: #4f5b66;
}

input[type="search"] {
	border: none;
	width:100%;
	margin: 0;
	height: auto;
	-webkit-appearance: textfield;
	padding: 1px;
	padding-left:25px;
	background-color: white;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	font: 16px 'Raleway', sans-serif;
	line-height: 1.2em !important;
	height: 1.2em !important;
}
input[type="search"]:focus{
	outline:none;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance:none;
}
input[type="search"]::-webkit-search-cancel-button:after{
	content:'\f00d';
	display:block;
	font-family:'FontAwesome';
	font-style:normal;
	font-weight:normal;
	text-decoration:inherit;
	color:#4f5b66;
}
.buttons{
	margin-top:50px;
}
button{
	border-radius:0;
	text-align:center;
	width:100px;
	height:30px;
	font: 16px 'Raleway', sans-serif;
	font-weight:400;
}
